
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
color: black;
background-color: white

}


#about div{
    display: flex;
    align-items: center;
}

#profile-image{
    position: relative;
    float: left;
    max-height: 200px;
    padding: 10px
}

header{
    align-items: center;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    background-color: #a6a1a1
}

nav a {
    text-decoration: none;
}

.apps img{
    display: flex;
    max-height: 200px;
    padding: 10px
}
.apps{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
#first{
    height: 300px;
}
section h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: right;
}


.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

footer{
    padding: 10px;
}